<!DOCTYPE html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico">
<nav>#
    <div style="position: relative;">
        <ul class = "navbar">
            {% if g.user %}
                <li class = "navbar dropdown">
                    <button class="dropbtn notification" onclick="myFunction()">
                        <span>{{ g.user['username'] }}</span>
                    </button>
                    <div id="myDropdown" class="dropdown-content2">
                        <a href="{{ url_for('auth.logout') }}" style="color:black">Log Out</a>
                    </div>
                </li>
                
                <li class = "navbar"><a href="{{ url_for('index') }}">Home</a></li>
                <li class = "navbar"><a href="{{ url_for('game.room') }}">Play</a></li>
                <li class = "navbar"><a href="{{ url_for('user.onlineusers') }}">Online Users</a></li>
                <li class = "navbar dropdown" style="float:right">
                    <button class="dropbtn2 notification" onclick="myFunction2()">
                        <span class="notitext">Notifications</span>
                        <span class="badge">3</span>
                    </button>
                    <div id="myDropdown2" class="dropdown-content2" style="right:0;"></div>
                </li>
            {% else %}
                <li class = "navbar"><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li class = "navbar"><a href="{{ url_for('auth.login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socketg = io();
        console.log(socketg);
        socketg.on('connect', function() {
            socketg.emit('my event', {data: 'I\'m connected!'});
            console.log("CONNECTING");
        });
        socketg.on('loadnotis', function(data){
            //create li element of all the notis in data and add it into myDropdown2
            chalList = data["chals"]
            for(let i of chalList){
                let parent = document.getElementById('myDropdown2');
                let challenger = document.createElement("li");
                let text = i + ' has challenged you!'
                challenger.appendChild(document.createTextNode(text));
                let acceptBtn = document.createElement("button");
                let declineBtn = document.createElement("button");
                acceptBtn.innerHTML = "Accept";
                acceptBtn.id = "acceptBtn";
                acceptBtn.style = "color:black";
                acceptBtn.onclick = function () {
                    socketg.emit('challengeA', {"userf": i});
                };
                declineBtn.innerHTML = "Decline";
                declineBtn.id = "declineBtn";
                declineBtn.style = "color:black";
                declineBtn.onclick = function () {
                    socketg.emit('challengeD', {"userf": i});
                };
                challenger.appendChild(acceptBtn);
                challenger.appendChild(declineBtn);
                parent.appendChild(challenger);
            }
        });
        socketg.on('challenged', function(data){
            //create li element of the new noti and add it into myDropdown2
            console.log("YOU HAVE BEEN CHALLENGED!");
            let parent = document.getElementById('myDropdown2');
            let challenger = document.createElement("li");
            let text = data["challenger"] + ' has challenged you!'
            challenger.appendChild(document.createTextNode(text));
            let acceptBtn = document.createElement("button");
            let declineBtn = document.createElement("button");
            acceptBtn.innerHTML = "Accept";
            acceptBtn.id = "acceptBtn"
            acceptBtn.style = "color:black";;
            acceptBtn.onclick = function () {
                socketg.emit('challengeA', {"userf": data["challenger"]});
            };
            declineBtn.innerHTML = "Decline";
            declineBtn.id = "declineBtn";
            declineBtn.style = "color:black";
            declineBtn.onclick = function () {
                socketg.emit('challengeD', {"userf": data["challenger"]});
            };    
            challenger.appendChild(acceptBtn);
            challenger.appendChild(declineBtn);
            parent.appendChild(challenger);
        });
    </script>
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        //EDIT THIS ONE TO CREATE NOTI THINGS BEFORE TOGGLING AND ADD THEM AS CHILDREN SHOW NOTIS
        function myFunction2() {
            document.getElementById("myDropdown2").classList.toggle("show");
        }
        
        window.onclick = function(e) {
            if (!e.target.matches('.dropbtn2')) {
                var myDropdown = document.getElementById("myDropdown2");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
            if (!e.target.matches('.dropbtn')) {
                var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
        }
        </script>
    {% block content %}{% endblock %}
</section>