<!DOCTYPE html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico">
<nav>
    <ul>
        {% if g.user %}
            <li class = "navbar"><span>{{ g.user['username'] }}</span>
            <li class = "navbar"><a href="{{ url_for('auth.logout') }}">Log Out</a>
            <li class = "navbar"><a href="{{ url_for('index') }}">Home</a></li>
            <li class = "navbar"><a href="{{ url_for('game.room') }}">Play</a></li>
            <li class = "navbar"><a href="{{ url_for('user.onlineusers') }}">Online Users</a></li>
            <li class = "navbar" style="float:right">
                <a href="#" class="notification">
                    <span>Inbox</span>
                    <span class="badge">3</span>
                </a>
            </li>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </ul>
    
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socketg = io();
        console.log(socketg);
        socketg.on('connect', function() {
            socketg.emit('my event', {data: 'I\'m connected!'});
            console.log("CONNECTING");
        });
    </script>
    {% block content %}{% endblock %}
</section>