{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Find Game{% endblock title %}</h1>
{% endblock header %}

{% block content %}
    <body class="text-center">
        <form class="form-signin" action="{{ url_for('game.games') }}" method="POST">
        <h1>Enter Room Name</h1><br><br>
        <input type="text" id="room" name="room" class="form-control" placeholder="Room" required><br>
        <button value="submit">Start Game</button>
        </form>

        <div id="rooms">
        </div>
        <script>
            socketg.emit('roompage', {});
            socketg.on('roomsin', function(data){
                let room = data["rooms"][0];
                let div = document.getElementById("rooms");
                let text = document.createTextNode(room);
                let btn = document.createElement("button");
                btn.innerHTML = "Rejoin!";
                btn.onclick = function () {
                    console.log(room);
                    window.location.href = "{{ url_for('game.game_instance', roomname=room) }}" + room;
                }
                div.appendChild(text);
                div.appendChild(btn);
            });
            socketg.on('roomclose', function(data){
                $("#rooms").empty();
            });
        </script>
    </body>
{% endblock content %}