{% extends 'base.html' %}

{% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <h1>{% block title %}Friends{% endblock title %}</h1>
{% endblock header %}

{% block content %}
<body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
    <script src="/static/friends.js"></script>
    <div id="friendlist">

    </div>
</body>
{% endblock content %}